* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100%;
  font: normal 16px Arial, Helvetica, sans-serif;
  background-color: white;
  line-height: 1.4em;
}
/* header start */
/* start top bar */
.header-bar-container {
  width: 100%;
  background-color: #D4D9DE;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-widgets-left {
  margin-left: 50px;
}
.top-widgets-left p {
  float: left;
  margin: 0;
  padding: 12px;
  color: #444444;
  text-decoration: none;
  font-size: 14px;
}
.top-widgets-left p i {
  padding: 10px;
}
.top-widgets-left p a {
  text-decoration: none;
  transition: all 0.3s ease;
  color: #444444;
}
.top-widgets-left p a:hover {
  font-size: 1rem;
  font-weight: bold;
  color: #03a3df;
}
.top-widgets-right {
  margin-right: 50px;
}
.top-widgets-right a {
  float: right;
  padding: 12px;
  transition: all 0.3s ease;
  color: #444444;
  font-size: 1.2rem;
}
.top-widgets-right a:hover {
  font-size: 1.5rem;
  font-weight: bold;
  color: #03a3df;
}
/* end top bar */
/* start nav bar */
.menu-bar {
  background: #FFFFFF;
  text-align: center;
}
.menu-bar ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  color: #444444;
  font-weight: bold;
}
.menu-bar ul li {
  width: 120px;
  margin: 15px;
  padding: 15px;
}
.menu-bar ul li a {
  text-decoration: none;
  color: #444444;
}
.active, .menu-bar ul li:hover {
  background: #B5CBDE;
  border-radius: 3px;
}
.sub-menu {
  display: none;
  z-index: 999;
}
.menu-bar ul li:hover .sub-menu {
  display: block;
  position: absolute;
  background: #D4D9DE;
  margin-top: 15px;
  margin-left: -15px;
}
.menu-bar ul li:hover .sub-menu ul {
  display: block;
  margin: 10px;
}
.menu-bar ul li:hover .sub-menu ul li {
  width: 150px;
  padding: 10px;
  border-bottom: 1.5px solid #03a3df;
  background: transparent;
  border-radius: 0;
  text-align: left;
}
.menu-bar ul li:hover .sub-menu ul li:last-child {
  border-bottom: none;
}
.menu-bar ul li:hover .sub-menu ul li a:hover {
  color: #7093B1;
}
.fa-sort-down {
  float: right;
  color: #444444;
}
/* end nav */
/* start image bar */
.bg-img {
  background-image: url('../images/destination-table-target-arrow-game-shooting-archery.jpg');
  background-color: #CCCCCC;
  min-height: 380px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  opacity: 0.9;
}
.img-content {
  position: absolute;
  right: 0;
  bottom: 3%;
  right: 3%;
  margin: 20px;
  max-width: 600px;
  padding: 16px;
  border-radius: 5px;
  color: white;
  background-color: rgba(100, 100, 100, 0.6);
}
.img-content h1 {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1.5em;
}
/* end image bar */
/* end header section */
.main {
  width: 80%;
  margin: auto;
  min-height: 100%;
  padding-bottom: 3rem;
  padding-top: 3rem;
}
/* start intro section */
.intro-section {
  text-align: center;
  padding-bottom: 3rem;
  padding-top: 3rem;
  display: block;
  line-height: 27px;
  font-weight: 400;
}
.intro-container {
  width: 100%;
  padding-right:15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.intro-container h1, h2, h3, h4, h5, h6 {
  font-weight: 800;
  margin-bottom: .5rem;
  margin-top: 0;
  font-family: inherit;
  line-height: 1.2;
}
.intro-container .text-uppercase {
  text-transform: uppercase;
  display: block;
  margin-block-start: 1.67em;
  margin-block-end: 1.67em;
  margin-inline-start: 0;
  margin-inline-end: 0;
}
.intro-container .sub-heading {
  font-size: 0.833rem;
  letter-spacing: 11.5px;
  color: #444444;
  margin-block-start: 0;
}
.intro-container .ic-1 {
  margin-bottom: 1rem;
  font-size: 2rem;
}
.intro-container p {
  margin-top: 0;
  margin-bottom: 1rem;
  margin-block-start: 1em;
  margin-block-end: 2em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  color: #444444;
  font-weight: 400;
}
.intro-container .intro-flex {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  margin-right: -15px;
  margin-left: -15px;
  overflow: hidden;
}
.intro-container .intro-flex .i-icon {
  font-size: 3.2rem;
  color: #444444;
  margin-left: .2rem;
  margin-right: .2rem;
  line-height: 1rem;
}
.intro-container .intro-flex h5 {
  font-size: 1.25rem;
  line-height: 1.2rem;
  display: block;
  margin-block-start: 1.67em;
  margin-block-end: 1.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.intro-container .intro-flex .btn {
  transition: all 0.2s ease;
}
.intro-container .intro-flex .btn-main {
  background: #ecb722;
  color: #ffffff;
  font-weight: 700;
  border: 2px solid #ecb722;
  text-transform: uppercase;
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;
}
.intro-container .intro-flex .btn-small {
  padding: 0.15rem 1rem;
  font-size: 0.667rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}
.intro-container .intro-flex a {
  text-decoration: none;
}
.intro-container .intro-flex .about-sub {
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  border-right: 1px solid #D4D9DE;
}
.intro-container .intro-flex .lessons-sub {
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  border-right: 1px solid #D4D9DE;
}
.intro-container .intro-flex .schedule-sub {
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  border-right: 1px solid #D4D9DE;
}
.intro-container .intro-flex .events-sub {
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
