* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100%;
  font: normal 16px Arial, Helvetica, sans-serif;
  background-color: white;
  line-height: 1.4em;
}
/* header start */
/* start top bar */
.header-bar-container {
  width: 100%;
  background-color: #D4D9DE;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-widgets-left {
  margin-left: 50px;
}
.top-widgets-left p {
  float: left;
  margin: 0;
  padding: 12px;
  color: #444444;
  text-decoration: none;
  font-size: 14px;
}
.top-widgets-left p i {
  padding: 10px;
}
.top-widgets-left p a {
  text-decoration: none;
  transition: all 0.3s ease;
  color: #444444;
}
.top-widgets-left p a:hover {
  font-size: 1rem;
  font-weight: bold;
  color: #03a3df;
}
.top-widgets-right {
  margin-right: 50px;
}
.top-widgets-right a {
  float: right;
  padding: 12px;
  transition: all 0.3s ease;
  color: #444444;
  font-size: 1.2rem;
}
.top-widgets-right a:hover {
  font-size: 1.5rem;
  font-weight: bold;
  color: #03a3df;
}
/* end top bar */
/* start nav bar */
.menu-bar {
  background: #FFFFFF;
  text-align: center;
}
.menu-bar ul {
  display: inline-flex;
  list-style: none;
  color: #444444
}
.menu-bar ul li {
  width: 120px;
  margin: 15px;
  padding: 15px;
}
.menu-bar ul li a {
  text-decoration: none;
  color: #444444;
}
.active, .menu-bar ul li:hover {
  background: #B5CBDE;
  border-radius: 3px;
}
.sub-menu {
  display: none;
}
.menu-bar ul li:hover .sub-menu {
  display: block;
  position: absolute;
  background: #FFFFFF;
  margin-top: 15px;
  margin-left: -15px;
}
.menu-bar ul li:hover .sub-menu ul {
  display: block;
  margin: 10px;
}
.menu-bar ul li:hover .sub-menu ul li {
  width: 150px;
  padding: 10px;
  border-bottom: 1px dotted #03a3df;
  background: transparent;
  border-radius: 0;
  text-align: left;
}
.menu-bar ul li:hover .sub-menu ul li:last-child {
  border-bottom: none;
}
.menu-bar ul li:hover .sub-menu ul li a:hover {
  color: #7093B1;
}
.fa-sort-down {
  float: right;
  color: #444444;
}
