* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100%;
  font: normal 16px Arial, Helvetica, sans-serif;
  background-color: white;
  line-height: 1.4em;
}
/* header start */
/* start top bar */
.header-bar-container {
  width: 100%;
  background-color: #D4D9DE;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-widgets-left {
  margin-left: 50px;
}
.top-widgets-left p {
  float: left;
  margin: 0;
  padding: 12px;
  color: #444444;
  text-decoration: none;
  font-size: 14px;
}
.top-widgets-left p i {
  padding: 10px;
}
.top-widgets-left p a {
  text-decoration: none;
  transition: all 0.3s ease;
  color: #444444;
}
.top-widgets-left p a:hover {
  font-size: 1rem;
  font-weight: bold;
  color: #03a3df;
}
.top-widgets-right {
  margin-right: 50px;
}
.top-widgets-right a {
  float: right;
  padding: 12px;
  transition: all 0.3s ease;
  color: #444444;
  font-size: 1.2rem;
}
.top-widgets-right a:hover {
  font-size: 1.5rem;
  font-weight: bold;
  color: #03a3df;
}
/* end top bar */
/* start nav bar */
.menu-bar {
  background: #FFFFFF;
  text-align: center;
}
.menu-bar ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  color: #444444;
  font-weight: bold;
}
.menu-bar ul li {
  width: 120px;
  margin: 15px;
  padding: 15px;
}
.menu-bar ul li a {
  text-decoration: none;
  color: #444444;
}
.active, .menu-bar ul li:hover {
  background: #B5CBDE;
  border-radius: 3px;
}
.sub-menu {
  display: none;
  z-index: 999;
}
.menu-bar ul li:hover .sub-menu {
  display: block;
  position: absolute;
  background: #D4D9DE;
  margin-top: 15px;
  margin-left: -15px;
}
.menu-bar ul li:hover .sub-menu ul {
  display: block;
  margin: 10px;
}
.menu-bar ul li:hover .sub-menu ul li {
  width: 150px;
  padding: 10px;
  border-bottom: 1.5px solid #03a3df;
  background: transparent;
  border-radius: 0;
  text-align: left;
}
.menu-bar ul li:hover .sub-menu ul li:last-child {
  border-bottom: none;
}
.menu-bar ul li:hover .sub-menu ul li a:hover {
  color: #7093B1;
}
.fa-sort-down {
  float: right;
  color: #444444;
}
/* end nav */
/* start image bar */
.bg-img {
  background-image: url('../images/destination-table-target-arrow-game-shooting-archery.jpg');
  background-color: #CCCCCC;
  min-height: 380px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  opacity: 0.9;
}
.img-content {
  position: absolute;
  right: 0;
  bottom: 3%;
  right: 3%;
  margin: 20px;
  max-width: 600px;
  padding: 16px;
  border-radius: 5px;
  color: white;
  background-color: rgba(100, 100, 100, 0.6);
}
.img-content h1 {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1.5em;
}
/* end image bar */
/* end header section */
.main {
  width: 80%;
  margin: auto;
  min-height: 100%;
  padding-bottom: 3rem;
  padding-top: 3rem;
}
/* start intro section */
.intro-section {
  text-align: center;
  padding-bottom: 3rem;
  padding-top: 3rem;
  display: block;
  line-height: 27px;
  font-weight: 400;
}
.intro-container {
  width: 100%;
  padding-right:15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.intro-container h1, h2, h3, h4, h5, h6 {
  font-weight: 800;
  margin-bottom: .5rem;
  margin-top: 0;
  font-family: inherit;
  line-height: 1.2;
}
.intro-container .text-uppercase {
  text-transform: uppercase;
  display: block;
  margin-block-start: 1.67em;
  margin-block-end: 1.67em;
  margin-inline-start: 0;
  margin-inline-end: 0;
}
.intro-container .sub-heading {
  font-size: 0.833rem;
  letter-spacing: 11.5px;
  color: #444444;
  margin-block-start: 0;
}
.intro-container .ic-1 {
  margin-bottom: 1rem;
  font-size: 2rem;
}
.intro-container p {
  margin-top: 0;
  margin-bottom: 1rem;
  margin-block-start: 1em;
  margin-block-end: 2em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  color: #444444;
  font-weight: 400;
}
.intro-container .intro-flex {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  margin-right: -15px;
  margin-left: -15px;
  overflow: hidden;
}
.intro-container .intro-flex .i-icon {
  font-size: 3.2rem;
  color: #444444;
  margin-left: .2rem;
  margin-right: .2rem;
  line-height: 1rem;
}
.intro-container .intro-flex h5 {
  font-size: 1.25rem;
  line-height: 1.2rem;
  display: block;
  margin-block-start: 1.67em;
  margin-block-end: 1.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.intro-container .intro-flex .btn {
  transition: all 0.2s ease;
}
.intro-container .intro-flex .btn-main {
  background: #ecb722;
  color: #ffffff;
  font-weight: 700;
  border: 2px solid #ecb722;
  text-transform: uppercase;
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;
}
.intro-container .intro-flex .btn-small {
  padding: 0.15rem 1rem;
  font-size: 0.667rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}
.intro-container .intro-flex a {
  text-decoration: none;
}
.intro-container .intro-flex .about-sub {
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  border-right: 1px solid #D4D9DE;
}
.intro-container .intro-flex .lessons-sub {
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  border-right: 1px solid #D4D9DE;
}
.intro-container .intro-flex .schedule-sub {
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  border-right: 1px solid #D4D9DE;
}
.intro-container .intro-flex .events-sub {
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
/* end intro section */
/* start celebrating */
.celebrating {
  position: relative;
  display: block;
  width: 100%;
  padding-left: 65px;
  padding-right: 65px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 4rem;
  vertical-align: baseline;
  text-align: center;
}
.celebrating h3 {
  font-size: 2rem;
  color: #444444;
  line-height: 1.5;
  font-weight: 500;
  margin: 0 0 15px;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.celebrating p {
  margin: 0 0 20px;
  text-align: center;
  display: block;
  padding: 0;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  line-height: 22px;
  letter-spacing: normal;
}
.celebrating .c-p1 {
  font-size: 1.1rem;
  color: #B9C2CA;
  font-weight: 400;
}
.celebrating .c-p2 {
  color: #444444;
  font-size: 1.5rem;
  font-weight: 450;
  line-height: 2rem;
}
/* end celebrating */
/* start section counter */
.counter-column {
  float: left;
  width: 25%;
  padding: 0 5px;
}
.counter-row {
  margin: 0 -5px;
}
.counter-row:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 600px) {
  .counter-column {
    width: 100%;
    display: block;
    margin-bottom: 10px;
  }
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  line-height: 1.5rem;
  background-color: #1b447f;
  color: white;
}
.f-card {
  font-size: 1.8rem;
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
  line-height: 1rem;
}
.counter-column h3 {
  font-size: 1.5rem;
}
.counter-column .cc-1 {
  font-size: 1.3rem;
  padding-bottom: 1.3rem;
}
.section-counter {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
/* end section counter */
/* start map section */
.map-section {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.contact-section .map-contact .contact-itm span {
    vertical-align: middle;
    display: inline-block;
    font-size: 0.889rem;
}
.bg-img-map {
  background-image: url('../images/map.png');
  background-color: #CCCCCC;
  min-height: 380px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  opacity: 0.9;
}
.map-container {
  position: absolute;
  bottom: 3%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 5rem;
  padding: 20px;
  border-radius: 5px;
  color: white;
  background-color: #1b447f;
}
.ma-1 {
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.title {
  font-weight: 500;
  font-size: 1.1rem;
  text-transform: uppercase;
  width: 175px;
}
.text {
  display: inline-block;
  vertical-align: middle;
  margin-left: 40px;
  font-size: .9rem;
  text-align: left;
}
/* end map */
/* start footer */
.bg-img-footer {
  background-image: url('../images/footerImage.jpg');
  background-color: #CCCCCC;
  min-height: 380px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  opacity: 0.9;
}

.footer .footer-bottom {
  color: #989EA4;
  height: 50px;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding-top: 20px;
  margin-left: 4rem;
}
.footer .footer-content {
  margin-left: 4rem;
  padding: 15px;
  width: 100%;
  bottom: 0;
  left: 0;
  text-align: left;
  display: flex;
  flex-direction: column;
}
.footer .footer-content .footer-section {
  flex: 1;
  align-items: flex-start;
  justify-content: space-around;
  padding: 25px;
}
.footer .about p {
  max-width: 600px;
  color: white;
  padding-top: 8px;
  font-size: .8rem;
}
.footer ul {
  list-style-type: none;
}
.footer ul li {
  display: inline;
  padding-right: 20px;
}
.footer a {
  color: white;
}
.footer a:visited {
  color: white;
}
.footer .forward-slash {
  color: white;
}
.footer .forward-slash li:before {
  content: "/";
  padding-right: 20px;
}
.footer .forward-slash li:first-child:before {
  content: "";
  padding-right: 0;
}
.footer img {
  width: 200px;
}
.footer .footer-content .socials a {
  padding-right: 15px;
}
.footer .footer-content .socials .ic-2 {
  font-size: 1.4rem;
}

/* style about page */
.about-main {
  color: #444444;
}
.about-main h3 {
  margin: auto;
  padding-top: 3rem;
  padding-bottom: 1rem;
  font-size: 2rem;
}
/* style about section */
.about-section {
  text-align: center;
}
.about-section h2 {
  font-size: 2rem;
  text-transform: uppercase;
  padding-bottom: 2rem;
}
.about-section p {
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-right: 2rem;
  margin-left: 2rem;
}
.about-section p:last-child {
  padding-bottom: 0;
}
/* about section end */
/* profile cards */
.profiles {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
}
.about-container {
  padding: 0 8px;
  margin-bottom: 16px;
  display: flex;
  flex-flow: column;
}
.p-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}
.p-content {
  padding: 16px;
}
.p-content button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #ecb722;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-weight: bold;
}
.p-content button:hover {
  background-color: #555;
}
.about-container img {
  display: block;
  margin: auto;
  padding-top: 1rem;
}
.p-content h2 {
  text-align: center;
  padding-bottom: 1rem;
}
.p-content p {
  padding-bottom: 1rem;
}
.p-content p:last-child {
  padding-bottom: 0;
}
.p-title {
  color: #555;
  text-transform: none;
  text-align: center;
  font-size: 1.1rem;
}
/* end profile cards */
.about-main section {
  margin-bottom: 2rem;
}
.about-main section h2 {
  margin: 2rem;
  padding-top: 1rem;
  text-align: center;
  font-size: 2rem;
}
